h1 Nearby

= form_tag nearby_index_path, method: :get
= label_tag 'location'
= text_field_tag 'location', '40.713938,-73.9790146'
= submit_tag 'go'

div.nearby
  div#card-holder

javascript:
  var geo = $('#location')[0];
  var url = '/messaging';

  if (geo) {
    var lat = geo.value.split(',')[0];
    var lng = geo.value.split(',')[1];
    url += '?lat=' + lat + '&lng=' + lng;
  }

  var source = new EventSource(url);

  source.addEventListener('message', function(e) {
    var data = JSON.parse(e.data);

    var card = document.createElement('div');
    card.className = 'card';
    if (data.score) {
      card.setAttribute('data-score', data.score);
      card.setAttribute('data-distance', Math.round(data.distance));
    }

    var node = document.createTextNode(data.text);
    card.appendChild(node);
    var cardHolder = document.getElementById('card-holder');
    if (cardHolder && cardHolder.hasChildNodes()) {
      var firstElement = cardHolder.childNodes[0];
    }
    cardHolder.insertBefore(card, firstElement);
    $('.card').tsort('',{data:'distance', order:'asc'});
  }, false);

  source.addEventListener('open', function(e) {
    // Connection was opened.
  }, false);

  source.addEventListener('error', function(e) {
    if (e.readyState == EventSource.CLOSED) {
    // Connection was closed.
    }
   }, false);

